$bg: #222222;
$white: #F1F1F1;
$black: #151515;
$orange: #FF4C0D;

.about {
    background: url(/dist/images/about/lg1.png) no-repeat bottom right,
    url(/dist/images/about/lg2.png) no-repeat bottom right;
}
.about__container {
    position: relative;
    z-index: 5;
}
._container {
}
.about__head {
    font-size: 45px;
    font-weight: 500;
    line-height: 110%;
    margin-bottom: 60px;
}
.about__head_black{
    color: $black;
}
.text {
    opacity: 0.5;
}
.about__body {
    display: flex;
}
.about__column {
    flex: 1 1 33.334%;
}
.column-about {
    display: flex;
    flex-direction: column;
}
.column-about__title {
    font-size: 20px;
    line-height: 120%;
    padding-bottom: 10px;
    border-bottom: 3px solid $white;
    opacity: 0.5;
    color: $orange;
}


.column-about__text {
    padding-top: 10px;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -1%;
}

.column-about__img{
    display: none;
    max-width: 560px;
    img{
        width: 100%;
    }
}

.about__column:hover {
    .text{
        opacity: 1;
    }
    .column-about__title {
        border-bottom: 3px solid $orange;
        opacity: 1;
    }
}

.about__images {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    transition: 1s;
    padding-bottom: 120px;
    .about__images_1{
        max-width: 760px;
        position: relative;
        z-index: 3;
        padding-right: 10px;
         img {
            width: 100%;
            &:hover {
            transform: translateX(5px) translateY(5px); 
            transition: 1s;
         }
         }        
    }
    .about__images_2{
        max-width: 360px;
        position: relative;
        z-index: 1;
        img {
            width: 100%;
            &:hover {
            transform: translateX(5px) translateY(5px); 
            transition: 1s;
         }
         }   
    }
}

.about__line {
    position: absolute;
    top: 63%;
    left: 15%;
    z-index: 2;
}

@media (max-width: 1000px) {
    .about__head {
        font-size: 30px;
        margin-bottom: 40px;
    }
    .text {
        opacity: 1;
    }
    .about__body {
        display: flex;
        flex-direction: column;
        padding-bottom: 80px;
    }
    .about__column {
       margin-bottom: 40px;
    }
    .column-about {
    }
    .column-about__title {
        font-size: 20px;
        line-height: 120%;
        padding-bottom: 10px;
        border: none;
        color: $orange;
        &::after {
            content: '';
            display: block;
            position: relative;
            top: 10px;
            width: 150px;
            height: 3px;
            background-color: $orange;
        }
    }
    
    
    .column-about__text {
        padding: 10px 0;
    }
    
    .column-about__img{
        display: block;
        max-width: 560px;
    }

    .about__images {
        display: none;
    }
    .about__line {
        display: none;
    }
}

@media (max-width: 480px) {
    .about__head {
        font-size: 25px;
    }
    .about__body {
        padding-bottom: 60px;
    }
    .about__column {
       margin-bottom: 30px;
    }
    .column-about__title {
        font-size: 16px;
        &::after {
            width: 100px;
        }
    }
    .column-about__text {
        padding: 10px 0;
        font-size: 12px;
    }
}