.brand {
   position: relative;
   margin-bottom: 40px;
}
.brand__cards {
    position: relative;
    max-height: 51.7%;
    overflow: hidden;
    scroll-behavior: smooth;
}
//------
.brand___card {
    position: relative;
}
.card-brand {
    margin: 0;
    padding: 0;
}
.card-brand__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;   
    img{
        width: 100%;
    }
}

.card-brand__image_opacity {
    img{
        filter: grayscale(60%) blur(80%);
    }
}

.card-brand__content {
    position: relative;
    z-index: 5;
    padding: 10.34% 10px;
}
.card-brand__logo {
    color: $orange;
    margin-bottom: 12.67%;

}
.card-brand__title {
    font-size: 45px;
    font-weight: 500;
    line-height: 110%;
    color: $orange;
    margin-bottom: 4.3%;
}
.card-brand__text {
    max-width: 460px;
    color: $black;
}
//------------
.brand__indicators {
    position: absolute;
    z-index: 5;
    top: 40%;
    left: 90%;
    width: 100%;
    height: 100%;
    background-color: transparent;
}
.brand__indicator {
    display: block;
    background-color: transparent;
    cursor: pointer;
    svg{
        color: $black;
        opacity: 0.2;
    }
    &:not(:last-child) {
        margin-bottom: 30px;
    }
}

.brand__indicator_active {
    svg{
    opacity: 1;
    }
}

@media (max-width: 480px) {
    .brand {
        position: relative;
     }
     .brand__cards {
         display: flex;
         white-space: nowrap;
        margin-bottom: 40px;
         overflow: hidden;
     }
     //------
     .brand___card {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex: 1 0 100%;
     }
     .card-brand {
     }
     .card-brand__image {
        max-height: 80%;
         position: absolute;
         width: 100%;
         top: 0;
         left: 0;
         
         img{
            object-fit: none;
            object-position: 70% center;
            opacity: 0.3; 
         }
     }
     
     .card-brand__content {
        max-width: 280px;
        white-space: normal;
        padding: 6.25% 10px;
     }
     .card-brand__logo {
        color: $white;
        max-width: 46px;
        max-height: 30px;
        margin-bottom: 200px;
        svg{
            width: 100%;
            height: 100%;
        }
     }
     .card-brand__title {
         font-size: 25px;
         font-weight: 600;
         line-height: 120%;
         color: $white;
         margin-bottom: 5.2%;
     }
     .card-brand__text {
        font-size: 12px;
         line-height: 170%;
         color: $white;
     }
     
     //------------
     .brand__indicators {
        max-width: 90px;
        max-height: 10px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 450px;
        left: 50%;
        transform: translate(-50%);
         background-color: transparent;
     }
     .brand__indicator {
         display: block;
         background-color: transparent;
         cursor: pointer;
         svg{
             color: #fff;
             opacity: 0.2;
         }
         &:not(:last-child) {
             
         }
     }
     
     .brand__indicator_active {
         svg{
         opacity: 1;
         }
     }
}


 
